<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff list</title>
</head>
<body>
  <h1>
    <% cu = current_user.email.split("@")[0]   %>
    <%= cu.capitalize + "'s to do list." %>
  </h1>
</body>
</html>
