<h4>Add an Item</h4>
<div>
<%= form_for item, remote: true do |f| %>
  <%= f.label :name, class: 'sr-only'  %>:
  <%= f.text_field :name %><br />

  <%= f.submit "Submit item", class: 'btn btn-default pull-right' %>
<% end %>
</div>
